.box-row {
    display: flex; /*para ser um flex container eu preciso desta propriedade setada pra "flex"*/
    flex-direction: row;
    border: 1px solid red;
}
.box-row-reverse {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid red;
}
.box-column {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    height: 100px;
}
.box-column-reverse {
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid red;
    height: 100px;
}
.box-nowrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /*valor padrão*/
    border: 1px solid red;
}
.box-wrap {
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap; 
    border: 1px solid red;
}
.box-column-nowrap {
    display: flex;
    flex-direction: column;
    /*flex-wrap: nowrap;*/ /*causa overflow pois a altura do container é fixa!*/
    flex-wrap: wrap;
    border: 1px solid red;
    height: 400px;
}
.box-flex {
    display: flex;
    border: 1px solid red;
}
.box-align-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    border: 1px solid red;
    height: 300px;
}

.box-justify-content-evenly {
    display: flex;
    border: 1px solid red;
    /*flex-direction: row;*/
    
    justify-content: space-evenly;
}
.box-justify-content-around {
    display: flex;
    border: 1px solid red;
    /*flex-direction: row;*/
    justify-content: space-around;
}
.box-justify-content-between {
    display: flex;
    border: 1px solid red;
    /*flex-direction: row;*/
    justify-content: space-between;
}
.item {
    border: 1px solid black;
    height: 50px;
    width: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.one-item {
    flex: 1;
    border: 1px solid black;

}
.two-item {
    flex: 2;
    border: 1px solid black;

}
.three-item {
    flex: 2;
    border: 1px solid black;

}
